nav {
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}


nav ul li {
    font-size: 20px;
    color: rgb(0, 0, 0);
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

nav ul li:not(:nth-last-child(1)) {
    border-right: 1px solid rgb(0, 0, 0);
}

body {
    background-color: blanchedalmond;
}

.Videoprincipal {
    display: block;
    margin: 0 auto;
    width: 1500px;
    height: 750px;
    border-radius: 10px;
}


.margin {
    margin-top: 10px;
}




figcaption {
    font-size: 30px;
    color: rebeccapurple;
    text-align: center;
    background-color: rgb(178, 197, 8);
}

.coluna {
    width: 50%;
    float: left;
}

.container {
    display: flex;
}

.box1,
.box2 {
    width: 50%;

}

h3 {
    font-size: 22px;
}

.Textocentro {
    text-align: center;
    background-color: rebeccapurple;
}

#Título {
    font-size: 50px;
    color: rebeccapurple
}